{% unless request.home_page? %}
  <ul class='breadcrumb'>
    <li><a href="">Home</a></li>
    {% if request.map_page? %}
      <li><a href="">Map</a></li>
    {% else %}
      <li><a href="">...Others</a></li>
    {% endif %}
  </ul>
{% endunless %}