<div class="main-block">

        <!-- Page heading two starts -->

        <div class="page-heading-two">
          <div class="container">
            <h2>About Us</h2>
            <div class="breads">
              Home / <a href="#">About Us</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <!-- Page heading two ends -->

        <div class="container">

          <div class="row">

            <div class="col-md-5 col-sm-6">

              <div class="image-style-seven">
                <!-- Image -->
                <img class="img-responsive" src="{{'brave/gallery/big/1.jpg' | asset_path }}" alt="" />
                <div class="image-hover">
                  <!-- Image Caption -->
                  <div class="image-caption">
                    <a href="#"><i class="fa fa-play"></i></a>
                    <a href="img/gallery/big/1.jpg" class="lightbox"><i class="fa fa-search"></i></a>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-md-7 col-sm-12">
              <!-- Heading -->
              <div class="block-heading-two">
                <h3><span>Google Inc</span></h3>
              </div>
              <!-- Tags -->
              <p><strong>Tags :</strong> <a href="#" class="label label-grey">web</a> <a href="#" class="label label-grey">design</a> <a href="#" class="label label-grey">php</a> <a href="#" class="label label-grey">java</a></p>
              <!-- Para -->
              <p>Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum. Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum. Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum.</p>
              <!-- Button -->
              <a href="#" class="btn btn-color">Live Demo</a> <a href="#" class="btn btn-white">Contact</a>
            </div>

          </div>

          <hr />

          <div class="row">

            <div class="col-md-5 col-sm-6">

              <div class="image-style-seven">
                <!-- Image -->
                <img class="img-responsive" src="{{'brave/gallery/big/2.jpg' | asset_path }}" alt="" />
                <div class="image-hover">
                  <!-- Image Caption -->
                  <div class="image-caption">
                    <a href="#"><i class="fa fa-play"></i></a>
                    <a href="img/gallery/big/2.jpg" class="lightbox"><i class="fa fa-search"></i></a>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-md-7 col-sm-12">
              <div class="block-heading-two">
                <h3><span>Facebook Inc</span></h3>
              </div>
              <p><strong>Tags :</strong> <a href="#" class="label label-grey">web</a> <a href="#" class="label label-grey">design</a> <a href="#" class="label label-grey">php</a> <a href="#" class="label label-grey">java</a></p>
              <p>Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum. Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum. Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum.</p>
              <a href="#" class="btn btn-color">Live Demo</a> <a href="#" class="btn btn-white">Contact</a>
            </div>

          </div>

          <hr />

          <div class="row">

            <div class="col-md-5 col-sm-6">

              <div class="image-style-seven">
                <!-- Image -->
                <img class="img-responsive" src="{{'brave/gallery/big/3.jpg' | asset_path }}" alt="" />
                <div class="image-hover">
                  <!-- Image Caption -->
                  <div class="image-caption">
                    <a href="#"><i class="fa fa-play"></i></a>
                    <a href="img/gallery/big/3.jpg" class="lightbox"><i class="fa fa-search"></i></a>
                  </div>
                </div>
              </div>

            </div>

            <div class="col-md-7 col-sm-12">
              <div class="block-heading-two">
                <h3><span>Boomerang Inc</span></h3>
              </div>
              <p><strong>Tags :</strong> <a href="#" class="label label-grey">web</a> <a href="#" class="label label-grey">design</a> <a href="#" class="label label-grey">php</a> <a href="#" class="label label-grey">java</a></p>
              <p>Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum. Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum. Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum.</p>
              <a href="#" class="btn btn-color">Live Demo</a> <a href="#" class="btn btn-white">Contact</a>
            </div>

          </div>

          <hr />

          <ul class="pagination">
            <li><a href="#">&laquo;</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">&raquo;</a></li>
          </ul>

        </div>
      </div>