<div class="main-block">

  {% assign page_title = 'brave.links.about_us' | translate %}
  {% include 'shared/page_title' with page_title %}

  <div class="container">
  {% paginate listing.catalog_items by 1 %}
  {% for catalog in paginate.collection %}
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <div class="image-style-seven">
          {{ catalog | attachment_url: "medium" | image_tag }}
        </div>
      </div>
      <div class="col-md-7 col-sm-12">
        <div class="block-heading-two">
          <h3><span>{{catalog.title}}</span></h3>
        </div>
        <p>{{ catalog.html_text }}</p>
      </div>
    </div>
    <hr />
  {% endfor %}
    {{ paginate | bootstrap_pagination }}
  {% endpaginate %}

  </div>
</div>