<div class="main-block">

  {% assign page_title = 'brave.links.about_us' | translate %}
  {% include 'shared/page_title' with page_title %}

  <div class="container">
  {% paginate listing.catalog_items by 1 %}
  {% for catalog in paginate.collection %}
    {% include 'catalog' %}
  {% endfor %}
    {{ paginate | bootstrap_pagination }}
  {% endpaginate %}
  </div>
</div>