<footer>
  <section class="main-menu">
    <ul>
      <li>home</li>
      <li>service</li>
      <li>gallery</li>
      <li>about us</li>
      <li>contact us</li>
    </ul>
  </section>
  <section class="contact-us">
    <p>{{ listing.address }}</p>
  </section>
  <section class="share">
    <ul>
      <li><a href="#">Facebook</a></li>
      <li><a href="#">Google+</a></li>
      <li><a href="#">Twitter</a></li>
      <li><a href="#">LinkIn</a></li>
    </ul>
  </section>
  <p><a href="#">{{ "global.copyright" | translate }}</a></p>
</footer>
