.announcement {
  padding: 53px 40px;
  max-width: 740px;
  img {
    max-width: 100%;
  }
}
.readmore a {
  text-transform: capitalize;
  color: $body-font-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}