html,
body,
.main-container {
  height: 100%;
}

.shadow-effect {
  display: table;
  height: 100%;
  width: 100%;
}

.vcard {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

.listing {
  display: block;
  margin: auto;
  width: 620px;
  height: 322px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background: white;
  padding: 20px;
  position: relative;
}

.listing-categories,
.listing-communications {
  display: inline-block;
  width: 50%;
  float: left;
  ul {
    list-style-position: inside;
    padding: 0;
    li {
      line-height: 24px;
    }
  }
}

.listing-name {
  margin-bottom: 0;
}

.listing-description {
  display: block;
  margin-bottom: 25px;
}

.listing-description,
.listing-categories li,
.listing-contact-list li {
  color: $nav-color;
  font-size: 13px;
}

.listing-communications {
  bottom: 15px;
  position: absolute;
  right: 15px;
}