body {
  font-family: $base-font-family;
  background-color: $body-bg-color;
  color: $body-font-color;
}
.nav {
  float: left;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 270px;
  background: white;
}
.main-container {
  // width: 1030px;
  width: 1032px;
  float: right;
}

.nav ul {
  list-style: none;
  padding: 0;
  li a {
    text-decoration: none;
    display: block;
    padding: 5px;
    text-transform: capitalize;
    color: $nav-color;
    font-weight: bold;
    padding: 13px 21px;
    font-size: 15px;
  }
}

.nav ul.sub-nav {
  padding-left: 50px;
  a {
    font-size: 13px;
    font-weight: normal;
    color: $nav-color;
    padding: 0;
  }
}

.active {
  color: $body-font-color !important;
}

.nav img {
  display: block;
  margin: 15px auto;
}

.office {
  position: absolute;
  bottom: 0;
}
.side-nav {
  position: relative;
  min-height: 90%;
  padding-bottom: 26px;
}

.list-dotted > li{
  height: 17px;
  list-style: none;
  clear: both;
  background: asset-url("business_vcard/dotted_line.png") repeat-x bottom;
  span:first-child {
    float: left;
    background: white;
  }
  span:last-child {
    float: right;
    background: white;
  }
}
.page-title {
  margin: 0;
  font-weight: normal;
  text-transform: capitalize;
  padding: 18px 40px;
  background-color: $page-title-bg-color;
}
.title-item {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}
.color333 {
  color: $body-font-color;
}
.article-item {
  padding: 0 0 78px 40px;
  max-width: 740px;
  img {
    max-width: 100%;
  }
}

.clear { clear: both; }