body {
  font-family: $base-font-family;
  background-color: $body-bg-color;
  color: $body-font-color;
}
.nav {
  float: left;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 270px;
  background: white;
}
.main-container {
  width: 1030px;
  float: right;
}

.nav ul {
  list-style: none;
  li a {
    text-decoration: none;
    display: block;
    padding: 5px;
    text-transform: capitalize;
  }
}
.nav>img {
  display: block;
  margin: 15px auto;
}

.office {
  position: absolute;
  bottom: 0;
}
.side-nav {
  position: relative;
  min-height: 96%;
  padding-bottom: 26px;
}