body {
  font-family: $base-font-family;
  background-color: $body-bg-color;
  color: $body-font-color;
}
.nav {
  float: left;
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 5;
  display: block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 270px;
}
.main-container {
  width: 1030px;
  float: right;
}