<h1 class="page-title">Feedback</h1>

<section class="reservation-form">
    <form method="post">
      <div class="form-group">
        <input type="textbox" placeholder="Name">
      </div>
      <div class="form-group">
        <input type="textbox" placeholder="*Email">
      </div>
      <div class="form-group">
        <textarea rows="5" cols="61"></textarea>
      </div>
      <div class="form-group">
        <input type="submit" name="submit">
      </div>
    </form>
  </section>