<div class="main-block">
  {% include 'home/slider' %}
  {% include 'home/catalog_item' %}
  {% include 'home/products' %}
</div>
{% include 'home/owl_carousel' %}

{% content_for 'slider' %}
  {% include 'shared/slider' %}
{% endcontent_for %}