<div class="main-block">

  {% assign page_title = 'brave.links.people' | translate %}
  {% include 'shared/page_title' with page_title %}

  <div class="container">
    <div class="about-us-one">
      <div class="team-six">
        <div class="row" id="masonry">
          {% for person in listing.people %}
          {% include 'person' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>