<div class="main-block">
        <!-- Page heading two starts -->

        <div class="page-heading-two">
          <div class="container">
            <h2>People</h2>
            <div class="breads">
              Home / <a href="#">People</a>
            </div>
            <div class="clearfix"></div>
          </div>
        </div>

        <!-- Page heading two ends -->

        <div class="container">

          <div class="about-us-one">

            <div class="team-six">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <!-- Team Member -->
                  <div class="team-member">
                    <!-- Image -->
                    <img class="img-responsive" src="{{'brave/user/1.jpg' | asset_path }}" alt="" />
                    <!-- Name -->
                    <h4>Jennifer Doe</h4>
                    <span class="deg">Creative</span>
                    <!-- Team Links -->
                    <div class="team-links">
                      <a href="#"><i class="fa fa-comment"></i></a>
                      <a href="#"><i class="fa fa-envelope"></i></a>
                      <a href="#"><i class="fa fa-phone"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <!-- Team Member -->
                  <div class="team-member">
                    <!-- Image -->
                    <img class="img-responsive" src="{{'brave/user/2.jpg' | asset_path }}" alt="" />
                    <!-- Name -->
                    <h4>Jennifer Doe</h4>
                    <span class="deg">Programmer</span>
                    <!-- Team Links -->
                    <div class="team-links">
                      <a href="#"><i class="fa fa-comment"></i></a>
                      <a href="#"><i class="fa fa-envelope"></i></a>
                      <a href="#"><i class="fa fa-phone"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <!-- Team Member -->
                  <div class="team-member">
                    <!-- Image -->
                    <img class="img-responsive" src="{{'brave/user/3.jpg' | asset_path }}" alt="" />
                    <!-- Name -->
                    <h4>Jennifer Doe</h4>
                    <span class="deg">CEO</span>
                    <!-- Team Links -->
                    <div class="team-links">
                      <a href="#"><i class="fa fa-comment"></i></a>
                      <a href="#"><i class="fa fa-envelope"></i></a>
                      <a href="#"><i class="fa fa-phone"></i></a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <!-- Team Member -->
                  <div class="team-member">
                    <!-- Image -->
                    <img class="img-responsive" src="{{'brave/user/4.jpg' | asset_path }}" alt="" />
                    <!-- Name -->
                    <h4>Jennifer Doe</h4>
                    <span class="deg">Manager</span>
                    <!-- Team Links -->
                    <div class="team-links">
                      <a href="#"><i class="fa fa-comment"></i></a>
                      <a href="#"><i class="fa fa-envelope"></i></a>
                      <a href="#"><i class="fa fa-phone"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Our team ends -->

            <br />

          </div>

        </div>
      </div>