<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home - Brave</title>
    <!-- Description, Keywords and Author -->
    <meta name="description" content="Your description">
    <meta name="keywords" content="Your,Keywords">
    <meta name="author" content="ResponsiveWebInc">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon" href="#">

    {{ request.theme_style_url | stylesheet_link_tag }}
    {{ content_for_header }}
  </head>

  <!-- Add class "boxed" along with body for boxed layout. -->
  <!-- Add "pattern-x" (1 to 5) for background patterns. -->
  <!-- Add "img-x" (1 to 5) for background images. -->
  <body data-class-name="{{ request.js_class_name }}">

    <!-- Outer Starts -->
    <div class="outer">

      <!-- Top bar starts -->
      <div class="top-bar">
        <div class="container">

          <!-- Contact starts -->
          <div class="tb-contact pull-left">
            <!-- Email -->
            <i class="fa fa-envelope color"></i> &nbsp; <a href="mailto:contact@domain.com">contact@domain.com</a>
            &nbsp;&nbsp;
            <!-- Phone -->
            <i class="fa fa-phone color"></i> &nbsp; +1 (342)-(323)-4923
          </div>
          <!-- Contact ends -->

          <!-- Shopping kart starts -->
          <div class="tb-shopping-cart pull-right">
            <!-- Link with badge -->
            <a href="#" class="btn btn-white btn-xs b-dropdown"><i class="fa fa-shopping-cart"></i> <i class="fa fa-angle-down color"></i> <span class="badge badge-color">5</span></a>
            <!-- Dropdown content with item details -->
            <div class="b-dropdown-block">
              <!-- Heading -->
              <h4><i class="fa fa-shopping-cart color"></i> Your Items</h4>
              <ul class="list-unstyled">
                <!-- Item 1 -->
                <li>
                  <!-- Item image -->
                  <div class="cart-img">
                  <a href="#"><img src="img/ecommerce/view-cart/1.png" alt="" class="img-responsive" /></a>
                  </div>
                  <!-- Item heading and price -->
                  <div class="cart-title">
                    <h5><a href="#">Samsamgun galaxy some thing about.</a></h5>
                    <!-- Item price -->
                    <span class="label label-color label-sm">$1,900</span>
                  </div>
                  <div class="clearfix"></div>
                </li>
                <!-- Item 2 -->
                <li>
                  <div class="cart-img">
                  <a href="#"><img src="img/ecommerce/view-cart/2.png" alt="" class="img-responsive" /></a>
                  </div>
                  <div class="cart-title">
                    <h5><a href="#">Samsamgun galaxy some thing about.</a></h5>
                    <span class="label label-color label-sm">$1,900</span>
                  </div>
                  <div class="clearfix"></div>
                </li>
              </ul>
              <a href="#" class="btn btn-white btn-sm">View Cart</a> &nbsp; <a href="#" class="btn btn-color btn-sm">Checkout</a>
            </div>
          </div>
          <!-- Shopping kart ends -->

          <!-- Langauge starts -->
          <div class="tb-language dropdown pull-right">
            <a href="#" data-target="#" data-toggle="dropdown"><i class="fa fa-globe"></i> English <i class="fa fa-angle-down color"></i></a>
            <!-- Dropdown menu with languages -->
            <ul class="dropdown-menu dropdown-mini" role="menu">
              <li><a href="#">Hindi</a></li>
              <li><a href="#">Tamil</a></li>
              <li><a href="#">Kanada</a></li>
            </ul>
          </div>
          <!-- Language ends -->

          <!-- Search section for responsive design -->
          <div class="tb-search pull-left">
            <a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>
            <div class="b-dropdown-block">
              <form role="form">
                <!-- Input Group -->
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Type Something">
                  <span class="input-group-btn">
                    <button class="btn btn-color" type="button">Search</button>
                  </span>
                </div>
              </form>
            </div>
          </div>
          <!-- Search section ends -->

          <!-- Social media starts -->
          <div class="tb-social pull-right">
            <div class="brand-bg text-right">
              <!-- Brand Icons -->
              <a href="#" class="facebook"><i class="fa fa-facebook square-2 rounded-1"></i></a>
              <a href="#" class="twitter"><i class="fa fa-twitter square-2 rounded-1"></i></a>
              <a href="#" class="google-plus"><i class="fa fa-google-plus square-2 rounded-1"></i></a>
              <a href="#" class="linkedin"><i class="fa fa-linkedin square-2 rounded-1"></i></a>
              <a href="#" class="pinterest"><i class="fa fa-pinterest square-2 rounded-1"></i></a>
            </div>
          </div>
          <!-- Social media ends -->

          <div class="clearfix"></div>
        </div>
      </div>

      <!-- Top bar ends -->

      <!-- Header two Starts -->
      <div class="header-2">

        <!-- Container -->
        <div class="container">
          <div class="row">
            <div class="col-md-2">
              <!-- Logo section -->
              <div class="logo">
                <h1><a href="#"><i class="fa fa-laptop"></i> Brave</a></h1>
              </div>
            </div>
            <div class="col-md-9">

              <!-- Navigation starts.  -->
              <div class="navy">
                <ul>
                  <!-- Main menu -->
                  <li><a href="#">Home</a>
                    <!-- Submenu -->
                    <ul>
                      <li><a href="sitemap.html" class="red">Complete List</a></li>
                      <li><a href="index.html">Main Home</a></li>
                      <li><a href="index-bootstrap-carousel.html">Home Carousel</a></li>
                      <li><a href="index-magazine.html">Home Magazine</a></li>
                      <!-- 2nd Level sub menu -->
                      <li>
                        <a href="#">More #1</a>
                        <ul>
                          <li><a href="blog-masonry.html">Masonry Style</a></li>
                          <li><a href="medical-index.html">Medical</a></li>
                          <li><a href="ecommerce-index.html">Ecommerce</a></li>
                          <li><a href="non-profit-index.html">Non Profit</a></li>
                          <li><a href="coming-soon-image.html">Coming Soon</a></li>
                          <li><a href="index-slim.html">Home Slim</a></li>
                          <li><a href="index-sidebar.html">Home Sidebar</a></li>
                          <li><a href="index-parallax-slider.html">Home Parallax Slider</a></li>
                        </ul>
                      </li>
                      <li>
                        <a href="#">More #2</a>
                        <ul>
                          <li><a href="real-estate-index.html">Real Estate</a></li>
                          <li><a href="restaurant-index.html">Restaurant</a></li>
                          <li><a href="resume.html">Resume</a></li>
                          <li><a href="v-card-image.html">V Card</a></li>
                          <li><a href="wedding.html">Wedding</a></li>
                          <li><a href="index-parallax.html">Parallax Home</a></li>
                          <li><a href="header-2.html">Header Alt</a></li>
                          <li><a href="index-portfolio.html">Home Portfolio</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  <li><a href="#">Components</a>
                    <ul>
                      <li><a href="#">Components #1</a>
                        <ul>
                          <li><a href="accordion.html">Accordion</a></li>
                          <li><a href="blockquote.html">Blockquote</a></li>
                          <li><a href="box-shadow.html">Shadow Box</a></li>
                          <li><a href="brave-components.html">Basic Brave Components</a></li>
                          <li><a href="clients.html">Clients</a></li>
                          <li><a href="counter.html">Counter</a></li>
                          <li><a href="typography.html">Typography</a></li>
                          <li><a href="cta.html">CTA</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Components #2</a>
                        <ul>
                          <li><a href="divider.html">Divider</a></li>
                          <li><a href="bootstrap-carousel.html">Carousel</a></li>
                          <li><a href="heading.html">Heading</a></li>
                          <li><a href="icon-box.html">Icon Box</a></li>
                          <li><a href="icons.html">Icons</a></li>
                          <li><a href="image-box.html">Image Box</a></li>
                          <li><a href="images.html">Images</a></li>
                          <li><a href="knob.html">Knob</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Components #3</a>
                        <ul>
                          <li><a href="nav-tabs.html">Nav Tabs</a></li>
                          <li><a href="owl-carousel.html">Owl Carousel</a></li>
                          <li><a href="panel.html">Panel</a></li>
                          <li><a href="pricing-table.html">Pricing Table</a></li>
                          <li><a href="progress-bar.html">Progress Bar</a></li>
                          <li><a href="tables.html">Tables</a></li>
                          <li><a href="team.html">Team</a></li>
                          <li><a href="testimonial.html">Testimonial</a></li>
                        </ul>
                      </li>
                      <!-- Multi level menu -->
                      <li><a href="#">Multi Level Menu</a>
                        <ul>
                          <!-- Sub menu -->
                          <li><a href="#">Menu #1</a></li>
                          <li><a href="#">Menu #1</a></li>
                          <li><a href="#">Menu #1</a>
                            <ul>
                              <!-- Sub menu -->
                              <li><a href="#">Menu #2</a></li>
                              <li><a href="#">Menu #2</a></li>
                              <li><a href="#">Menu #2</a>
                                <ul>
                                  <!-- Sub menu -->
                                  <li><a href="#">Menu #3</a></li>
                                  <li><a href="#">Menu #3</a></li>
                                  <li><a href="#">Menu #3</a></li>
                                </ul>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  <li><a href="#">Blog</a>
                    <ul>
                      <li><a href="blog-one.html">Blog One</a></li>
                      <li><a href="blog-two.html">Blog Two</a></li>
                      <li><a href="blog-three.html">Blog Three</a></li>
                      <li><a href="blog-four.html">Blog Four</a></li>
                      <li><a href="blog-single.html">Blog Single</a></li>
                      <li><a href="blog-masonry.html">Blog Masonry</a></li>
                    </ul>
                  </li>

                  <li><a href="#">Themes</a>
                    <ul>
                      <li><a href="ui-designs.html">UI Designs</a></li>
                      <li><a href="#">Ecommerce</a>
                        <!-- Sub dropdown menu -->
                        <ul>
                          <li><a href="ecommerce-index.html">Home</a></li>
                          <li><a href="ecommerce-account.html">Account</a></li>
                          <li><a href="ecommerce-checkout.html">Checkout</a></li>
                          <li><a href="ecommerce-items.html">Items</a></li>
                          <li><a href="ecommerce-item-single.html">Items Single</a></li>
                          <li><a href="ecommerce-items-ui.html">Items UI</a></li>
                          <li><a href="ecommerce-order-history.html">Order History</a></li>
                          <li><a href="ecommerce-view-cart.html">View Cart</a></li>
                          <li><a href="ecommerce-wish-list.html">Wish List</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Medical</a>
                        <!-- Sub dropdown menu -->
                        <ul>
                          <li><a href="medical-index.html">Home</a></li>
                          <li><a href="medical-appointment.html">Appointment</a></li>
                          <li><a href="medical-department.html">Department</a></li>
                          <li><a href="medical-our-doctor.html">Our Doctor</a></li>
                          <li><a href="medical-treatment.html">Treatment</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Real Estate</a>
                        <!-- Sub dropdown menu -->
                        <ul>
                          <li><a href="real-estate-index.html">Home</a></li>
                          <li><a href="real-estate-agencies.html">Agencies</a></li>
                          <li><a href="real-estate-agents.html">Agents</a></li>
                          <li><a href="real-estate-enquiry.html">Enquiry</a></li>
                          <li><a href="real-estate-property-map.html">Property Map</a></li>
                          <li><a href="real-estate-property-single.html">Property Single</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Restaurant</a>
                        <!-- Sub dropdown menu -->
                        <ul>
                          <li><a href="restaurant-index.html">Home</a></li>
                          <li><a href="restaurant-checkout.html">Checkout</a></li>
                          <li><a href="restaurant-items.html">Items</a></li>
                          <li><a href="restaurant-item-single.html">Items Single</a></li>
                          <li><a href="restaurant-menu.html">Menu</a></li>
                          <li><a href="restaurant-nutrition-info.html">Nutrition Info</a></li>
                          <li><a href="restaurant-recipe.html">Recipe</a></li>
                          <li><a href="restaurant-reserve-seats.html">Reserve Seats</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Non Profit</a>
                        <!-- Sub dropdown menu -->
                        <ul>
                          <li><a href="non-profit-index.html">Home</a></li>
                          <li><a href="non-profit-action.html">Action</a></li>
                          <li><a href="non-profit-action-single.html">Action Single</a></li>
                          <li><a href="non-profit-causes.html">Causes</a></li>
                          <li><a href="non-profit-donation.html">Donation</a></li>
                          <li><a href="non-profit-events.html">Events</a></li>
                          <li><a href="non-profit-goal.html">Goal</a></li>
                          <li><a href="non-profit-volunteers.html">Volunteers</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>

                  <li><a href="#">Portfolio</a>
                    <ul>
                      <li><a href="portfolio-one.html">Portfolio One</a></li>
                      <li><a href="portfolio-two.html">Portfolio Two</a></li>
                      <li><a href="portfolio-three.html">Portfolio Three</a></li>
                      <li><a href="portfolio-four.html">Portfolio Four</a></li>
                      <li><a href="portfolio-single.html">Portfolio Single</a></li>
                    </ul>
                  </li>

                  <li><a href="about-us-one.html">About Us</a></li>
                  <li><a href="contact-us-one.html">Contact Us</a></li>
                </ul>
              </div>
              <!-- Navigation ends -->

            </div>

            <div class="col-md-1">

              <!-- Search section -->
              <div class="head-search pull-right">
                <a href="#" class="b-dropdown"><i class="fa fa-search square-2 rounded-1 bg-color white"></i></a>
                <div class="b-dropdown-block">
                  <form role="form">
                    <!-- Input Group -->
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Type Something">
                      <span class="input-group-btn">
                        <button class="btn btn-color" type="button">Search</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
              <!-- Search section ends -->
              <div class="clearfix"></div>

            </div>

          </div>
        </div>
      </div>

      <!-- Header two ends -->

      <!-- Main content starts -->

      <div class="main-block">

        <!-- Revolution slider full width starts -->
        <div class="r-slider">
          <div class="bannercontainer">
            <div class="banner">

              <ul>


                <!-- Slide #1 starts -->
                <li data-transition="zoomin" data-slotamount="5" >
                  <img src="img/rev-slider/3.jpg"   alt=""  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">


                  <!-- Layer 1 -->
                  <div class="tp-caption b-small-bold-grey lft fadeout"
                    data-x="center" data-hoffset="0"
                    data-y="25" data-voffset="0"
                    data-speed="500"
                    data-start="200"
                    style="z-index: 2;">TONS OF FEATURES
                  </div>

                  <!-- Layer 2 -->
                  <div class="tp-caption b-big-bold black lft fadeout"
                    data-x="center" data-hoffset="0"
                    data-y="60" data-voffset="0"
                    data-speed="500"
                    data-start="700"
                    style="z-index: 2;">BEST THEME EVER MADE
                  </div>

                  <!-- Layer 3 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="10" data-hoffset="0"
                    data-y="160" data-voffset="0"
                    data-speed="1000"
                    data-start="1000"
                    style="z-index: 2;"><img src="img/rev-slider/girl1.png" alt="" />
                  </div>

                  <!-- Layer 4 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="200" data-hoffset="0"
                    data-y="170" data-voffset="0"
                    data-speed="1000"
                    data-start="1300"
                    style="z-index: 2;"><img src="img/rev-slider/girl2.png" alt="" />
                  </div>

                  <!-- Layer 5 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="400" data-hoffset="0"
                    data-y="160" data-voffset="0"
                    data-speed="1000"
                    data-start="1600"
                    style="z-index: 2;"><img src="img/rev-slider/girl3.png" alt="" />
                  </div>

                  <!-- Layer 6 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="600" data-hoffset="0"
                    data-y="160" data-voffset="0"
                    data-speed="1000"
                    data-start="1900"
                    style="z-index: 2;"><img src="img/rev-slider/girl4.png" alt="" />
                  </div>

                  <!-- Layer 7 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="800" data-hoffset="0"
                    data-y="160" data-voffset="0"
                    data-speed="1000"
                    data-start="2200"
                    style="z-index: 2;"><img src="img/rev-slider/girl5.png" alt="" />
                  </div>
                </li>
                <!-- Slide #1 ends -->

                <!-- Slide #2 starts -->

                <li data-transition="fadefromright">
                  <img src="img/rev-slider/transparent.png" class="bg-color" alt=""/>

                  <!-- Layer 1 -->
                  <div class="tp-caption b-big-bold white lfb fadeout"
                    data-x="center" data-hoffset="0"
                    data-y="20" data-voffset="0"
                    data-speed="1000"
                    data-start="800"
                    data-splitin="chars"
                    data-splitout="chars"
                    data-elementdelay="0.1"
                    data-endelementdelay="0.1"
                    data-endspeed="300"
                    style="z-index: 2;">SOME OF OUR DESIGNS
                  </div>

                  <!-- Layer 2 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="center" data-hoffset="0"
                    data-y="100" data-voffset="0"
                    data-speed="1000"
                    data-start="2300"
                    style="z-index: 2;"><img src="img/rev-slider/iphone1.png" alt="" />
                  </div>

                  <!-- Layer 3 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="center" data-hoffset="-250"
                    data-y="140" data-voffset="0"
                    data-speed="1000"
                    data-start="2600"
                    style="z-index: 1;"><img src="img/rev-slider/iphone2.png" alt="" />
                  </div>

                  <!-- Layer 4 -->
                  <div class="tp-caption lfb fadeout"
                    data-x="center" data-hoffset="250"
                    data-y="140" data-voffset="0"
                    data-speed="1000"
                    data-start="2800"
                    style="z-index: 1;"><img src="img/rev-slider/iphone2.png" alt="" />
                  </div>

                </li>

                <!-- Slide #2 ends -->

                <!-- Slide #3 starts -->
                <li data-transition="slidedown">
                  <img src="img/rev-slider/transparent.png" style="background-color:#fafafa" alt=""/>

                  <!-- Layer 1 -->
                  <div class="tp-caption b-medium-back bg-yellow lft fadeout"
                    data-x="center" data-hoffset="0"
                    data-y="70" data-voffset="0"
                    data-speed="1000"
                    data-start="100"
                    style="z-index: 2;">IF YOU HAVE BRAVE
                  </div>

                  <!-- Layer 2 -->
                  <div class="tp-caption b-big-bold black skewfromleft fadeout"
                    data-x="center" data-hoffset="0"
                    data-y="130" data-voffset="0"
                    data-speed="1000"
                    data-start="800"
                    data-splitin="chars"
                    data-splitout="chars"
                    data-elementdelay="0.07"
                    data-endelementdelay="0.07"
                    data-endspeed="300"
                    style="z-index: 2;">POWER IS IN YOUR HAND
                  </div>

                  <!-- Layer 3 -->
                  <div class="tp-caption b-small-para black lfb text-center"
                    data-x="center"
                    data-y="200"
                    data-speed="800"
                    data-start="2300"
                    style="z-index: 8">Lorem Ipsum is simply dummy text of the printing industry. Lorem Ipsum is simply dummy text of the <br /> printing industry. Lorem Ipsum dummy printing dummy industry.
                  </div>

                  <!-- Layer 4 -->
                  <div class="tp-caption b-button lfb text-center"
                    data-x="center"
                    data-y="270"
                    data-speed="800"
                    data-start="2800"
                    style="z-index: 8">
                    <a href="#" class="bg-color rounded-1">Buy It Now</a>
                  </div>

                </li>
                <!-- Slide #3 ends -->

                <!-- Slide #4 starts  -->
                <li data-transition="slotslide-horizontal" data-slotamount="5" >

                  <!-- MAIN IMAGE -->
                  <img src="img/rev-slider/3.jpg"   alt=""  data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">


                  <!-- LAYER NR. 1 -->
                  <div class="tp-caption b-big-thin-transparent white skewfromleft"
                    data-x="580"
                    data-y="50"
                    data-speed="800"
                    data-start="800"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 7">BEST
                  </div>

                  <!-- LAYER NR. 2 -->
                  <div class="tp-caption b-big-thin-transparent white skewfromleft"
                    data-x="580"
                    data-y="110"
                    data-speed="800"
                    data-start="1200"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 7">THEME
                  </div>

                  <!-- LAYER NR. 3 -->
                  <div class="tp-caption b-big-thin-transparent white skewfromleft"
                    data-x="580"
                    data-y="170"
                    data-speed="800"
                    data-start="1600"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 7">EVER
                  </div>

                  <!-- LAYER NR. 4 -->
                  <div class="tp-caption b-big-thin-transparent white skewfromleft"
                    data-x="580"
                    data-y="230"
                    data-speed="800"
                    data-start="2000"
                    data-easing="Power4.easeOut"
                    data-endspeed="300"
                    data-endeasing="Power1.easeIn"
                    data-captionhidden="on"
                    style="z-index: 7">LITERALLY !!!
                  </div>

                  <!-- LAYER NR. 7 -->
                  <div class="tp-caption lfb"
                    data-x="left" data-hoffset="20"
                    data-y="center" data-voffset="0"
                    data-speed="600"
                    data-start="400"
                    data-autoplay="true"
                    data-autoplayonlyfirsttime="true"
                    data-nextslideatend="true"
                    style="z-index: 8"><iframe src='https://www.youtube.com/embed/jhNszvpJxho?enablejsapi=1&amp;html5=1&amp;iv_load_policy=3&amp;hd=1&amp;wmode=opaque&amp;controls=1&amp;showinfo=0;rel=0;' width='540' height='333' style='width:540px;height:333px;border:0px;box-shadow:0px 0px 5px rgba(0,0,0,0.4);'></iframe>
                  </div>
                </li>
                <!-- Slide #4 ends -->

                <!-- Slide #5 starts -->
                <li data-transition="boxslide" data-slotamount="5">

                  <img src="img/rev-slider/1.jpg" alt="" />

                  <!-- Layer 1 -->
                  <div class="tp-caption b-big-bold black skewfromrightshort"
                    data-x="20"
                    data-y="80"
                    data-speed="500"
                    data-start="800"
                    style="z-index: 4">One Theme
                  </div>

                  <!-- Layer 2 -->
                  <div class="tp-caption b-medium-thin-grey skewfromleftshort"
                    data-x="310"
                    data-y="95"
                    data-speed="500"
                    data-start="900"
                    style="z-index: 5">You
                  </div>

                  <!-- Layer 3 -->
                  <div class="tp-caption b-medium-thin-grey skewfromrightshort"
                    data-x="20"
                    data-y="148"
                    data-speed="300"
                    data-start="1000"
                    style="z-index: 6">Fall In
                  </div>

                  <!-- Layer 4 -->
                  <div class="tp-caption b-big-bold black skewfromleftshort"
                    data-x="115"
                    data-y="132"
                    data-speed="300"
                    data-start="1100"
                    style="z-index: 7">Love With
                  </div>

                  <!-- Layer 5 -->
                  <div class="tp-caption b-small-para black skewfromleftshort"
                    data-x="20"
                    data-y="200"
                    data-speed="500"
                    data-start="1300"
                    style="z-index: 8">Lorem Ipsum is simply dummy text of the printing <br /> industry. Lorem Ipsum is simply dummy text of the <br /> printing industry. Lorem Ipsum printing industry.
                  </div>

                  <!-- Layer 6 -->
                  <div class="tp-caption lft"
                    data-x="420"
                    data-y="90"
                    data-speed="800"
                    data-start="1700"
                    style="z-index: 8"><img src="img/rev-slider/brave.png" alt="" />
                  </div>

                  <!-- Layer 7 -->
                  <div class="tp-caption b-medium-back bg-red lfr"
                    data-x="700" data-hoffset="0"
                    data-y="90"
                    data-speed="700"
                    data-start="2000"
                    style="z-index: 7">TON'S OF FEATURES
                  </div>

                  <!-- Layer 8 -->
                  <div class="tp-caption b-medium-back bg-green lfr"
                    data-x="700" data-hoffset="0"
                    data-y="150"
                    data-speed="700"
                    data-start="2300"
                    style="z-index: 7">150+ HTML FILES
                  </div>

                  <!-- Layer 9 -->
                  <div class="tp-caption b-medium-back bg-lblue lfr"
                    data-x="700" data-hoffset="0"
                    data-y="210"
                    data-speed="700"
                    data-start="2600"
                    style="z-index: 7">ALL IN ONE THEME
                  </div>

                  <!-- Layer 10 -->
                  <div class="tp-caption b-medium-back bg-yellow lfr"
                    data-x="700" data-hoffset="0"
                    data-y="270"
                    data-speed="700"
                    data-start="2900"
                    style="z-index: 7">UNBELIVABLE PRICE
                  </div>

                </li>
                <!-- Slide #5 ends -->

              </ul>

            </div>
          </div>
        </div>
        <!-- Revolution slider full width ends -->

        <div class="container">

          <br />
          <div class="text-center">
            <h3><span class="color">Brave</span>. Most Amazing Theme Ever Made. <span class="color">Literally</span>.</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut euismod sapien. Donec eu feugiat enim, sed tempus arcu. <br /> Pellentesque magna nisi, consectetur eget psum primis eros, et neque sit amet, lobortis elit. </p>
          </div>

          <div class="divider-1"></div>

          <!-- Image Box #3 Starts -->

          <div class="img-box-3 text-center">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <!-- Image Box #3 Item -->
                <div class="img-box-3-item">
                  <div class="img-box-3-icon bg-red">
                    <a href="#"><img src="img/flat-icons/10.png" alt="" class="img-responsive" /></a>
                  </div>
                  <h4><a href="#">Consequatr</a></h4>
                  <div class="bor bg-red"></div>
                  <p>Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Image Box #3 Item -->
                <div class="img-box-3-item">
                  <div class="img-box-3-icon bg-lblue">
                    <a href="#"><img src="img/flat-icons/3.png" alt="" class="img-responsive" /></a>
                  </div>
                  <h4><a href="#">Doloribues</a></h4>
                  <div class="bor bg-lblue"></div>
                  <p>Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Image Box #3 Item -->
                <div class="img-box-3-item">
                  <div class="img-box-3-icon bg-green">
                    <a href="#"><img src="img/flat-icons/17.png" alt="" class="img-responsive" /></a>
                  </div>
                  <h4><a href="#">Perferends</a></h4>
                  <div class="bor bg-green"></div>
                  <p>Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.</p>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <!-- Image Box #3 Item -->
                <div class="img-box-3-item">
                  <div class="img-box-3-icon bg-blue">
                    <a href="#"><img src="img/flat-icons/20.png" alt="" class="img-responsive" /></a>
                  </div>
                  <h4><a href="#">Repellat</a></h4>
                  <div class="bor bg-blue"></div>
                  <p>Maiores alias consequatur aut perferendis doloribus asperiores repellat earum dolor.</p>
                </div>
              </div>
            </div>
          </div>

          <!-- Image Box #3 Ends -->

          <div class="divider-1"></div>

          <div class="block-heading-two">
            <h3><span>Our Company</span></h3>
          </div>

          <div class="row">
            <div class="col-md-4 col-sm-6">
              <p>Lorem ipsum dolor sit amet,  tetur adipiscing elit. Sed ut euismod sapien. Donec eu feugiat enim, sed tempus arcu. Pellen tesque magna nisi, consec tetur eget psum primis eros,  et neque sit amet, lobortis auctor libero.</p>
              <ul class="list-2">
                <li>Denounce 1with rhoncus  rhoncus indignation</li>
                <li>Dislike rhoncus so rhoncus et  rhoncus demoralized</li>
                <li>The charms rhoncus et rhoncus of the moment</li>
                <li>That rhoncus cannot rhoncus rhoncus pain trouble</li>
                <li>Dislike so rhoncus rhoncus and demoralized</li>
              </ul>
              <br />
            </div>

            <div class="col-md-4 col-sm-6">

              <h5>Why Choose Us?</h5>
              <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.</p>
              <!-- Accordion starts -->
              <div class="panel-group accordion-alt3" id="accordion-alt3">
               <!-- Panel. Use "panel-XXX" class for different colors. Replace "XXX" with color. -->
                <div class="panel">
                <!-- Panel heading -->
                 <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseOne-alt3">
                    <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #1
                    </a>
                  </h4>
                 </div>
                 <div id="collapseOne-alt3" class="panel-collapse collapse">
                  <!-- Panel body -->
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                 </div>
                </div>
                <div class="panel">
                 <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseTwo-alt3">
                    <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #2
                    </a>
                  </h4>
                 </div>
                 <div id="collapseTwo-alt3" class="panel-collapse collapse">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                 </div>
                </div>
                <div class="panel">
                 <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseThree-alt3">
                    <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #3
                    </a>
                  </h4>
                 </div>
                 <div id="collapseThree-alt3" class="panel-collapse collapse">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                 </div>
                </div>
                <div class="panel">
                 <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordion-alt3" href="#collapseFour-alt3">
                    <i class="fa fa-angle-right"></i> Minimal Collapsible Group Item #4
                    </a>
                  </h4>
                 </div>
                 <div id="collapseFour-alt3" class="panel-collapse collapse">
                  <div class="panel-body">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                  </div>
                 </div>
                </div>
              </div>
              <!-- Accordion ends -->

            </div>

            <div class="col-md-4 col-sm-6">
              <h5>Our Expertise</h5>
              <p>Lorem ipsum dolor consectetursit amet, consectetur adipiscing elit consectetur euismod ed  euismod  adipiscing elit sapien. Donec eu feugiat enim,  tempus arcu. </p>
              <h6>Web Designing</h6>
              <div class="progress pb-sm">
                <!-- White color (progress-bar-white) -->
                <div class="progress-bar progress-bar-red" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                 <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
              <h6>Doing Party</h6>
              <div class="progress pb-sm">
                <div class="progress-bar progress-bar-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">
                 <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
              <h6>Money Making</h6>
              <div class="progress pb-sm">
                <div class="progress-bar progress-bar-lblue" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                 <span class="sr-only">40% Complete (success)</span>
                </div>
              </div>
            </div>

          </div>

          <br />

          <div class="cta-one">
            <!-- CTA One Content -->
            <div class="cta-one-content">
              <div class="row">
                <div class="col-md-5">
                  <!-- CTA One Item -->
                  <div class="cta-one-item">
                    <h4>Actual Teachings Demoraliest Indignation</h4>
                    <p>Righteous indignation and dislike men who are so beguiled and indignation and dislike men who demoralized with righteous.</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="cta-one-item">
                    <ul class="list-2">
                      <li>Deleniti atque corrupti dislike option.</li>
                      <li>Eligendi optio molestias dislike imper.</li>
                      <li>Itaque earum rerum tenetur dislike molstn.</li>
                    </ul>
                  </div>
                </div>
                <div class="col-md-3">
                  <a href="#" class="btn btn-color btn-lg"><i class="fa fa-download"></i>&nbsp; Download Themes</a>
                </div>
              </div>
            </div>
          </div>

          <br />

          <div class="block-heading-two">
            <h3><span>Recent Works</span></h3>
          </div>

          <div class="img-box-4 text-center">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <!-- Image Box #4 Item -->
                <div class="img-box-4-item">
                  <!-- Image -->
                  <a href="img/gallery/small/1.jpg" class="lightbox"><img src="img/gallery/small/1.jpg" alt="" class="img-responsive" /></a>
                  <!-- Image Box #4 Content -->
                  <div class="img-box-4-content">
                    <!-- Icon -->
                    <a href="#"><i class="fa fa-picture-o bg-red"></i></a>
                    <!-- Heading -->
                    <h4><a href="#">Blinded Desire</a></h4>
                    <!-- Border -->
                    <div class="bor bg-red"></div>
                    <!-- Paragraph -->
                    <p>Certain circumstances and owing libero tempore minus to the owing claims of duty.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="img-box-4-item">
                  <a href="img/gallery/small/2.jpg" class="lightbox"><img src="img/gallery/small/2.jpg" alt="" class="img-responsive" /></a>
                  <div class="img-box-4-content">
                    <a href="#"><i class="fa fa-video-camera bg-lblue"></i></a>
                    <h4><a href="#">Itaque Earum</a></h4>
                    <div class="bor bg-lblue"></div>
                    <p>Certain circumstances and owing libero tempore minus to the owing claims of duty.</p>
                  </div>
                </div>
              </div>
              <div class="col-md-3 col-sm-6">
                <div class="img-box-4-item">
                  <a href="img/gallery/small/3.jpg" class="lightbox"><img src="img/gallery/small/3.jpg" alt="" class="img-responsive" /></a>
                  <div class="img-box-4-content">
                    <a href="#"><i class="fa fa-music bg-green"></i></a>
                    <h4><a href="#">Rerum Tenetur</a></h4>
                    <div class="bor bg-green"></div>
                    <p>Certain circumstances and owing libero tempore minus to the owing claims of duty.</p>
                  </div>
                </div>
              </div><div class="col-md-3 col-sm-6">
                <div class="img-box-4-item">
                  <a href="img/gallery/small/4.jpg" class="lightbox"><img src="img/gallery/small/4.jpg" alt="" class="img-responsive" /></a>
                  <div class="img-box-4-content">
                    <a href="#"><i class="fa fa-picture-o bg-purple"></i></a>
                    <h4><a href="#">Maiores Alias</a></h4>
                    <div class="bor bg-purple"></div>
                    <p>Certain circumstances and owing libero tempore minus to the owing claims of duty.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>



        </div>

        <br /><br />

        <div class="quote-two">
          <!-- Container -->
          <div class="container">
            <!-- Quote Two Content -->
            <div class="quote-two-content">
              <span>&#8220;</span>
              <div class="owl-carousel" data-items="1" data-auto-play="true" data-pagination="true" data-single-item="true">
                <!-- Item -->
                <div class="item">
                  <h3>At vero eos et accusamus et iusto odio dignissimos ducimus indignation qui blanditiis praesentium voluptatum.</h3>
                  - Helon Thomas
                </div>
                <div class="item">
                  <h3>Indignation qui blanditiis praesentium voluptatum at vero eos et accusamus et iusto odio dignissimos ducimus.</h3>
                  - Helon Peter
                </div>
                <div class="item">
                  <h3>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized.</h3>
                  - John Mark
                </div>
              </div>
            </div>
          </div>
        </div>

        <br />

        <div class="container">

          <!-- Block heading two -->
          <div class="block-heading-two">
            <h3><span>Our Speciality</span></h3>
          </div>

          <div class="row">
            <div class="col-md-7 col-sm-6">
              <p class="para-big">Praesent orci eros, rhoncus et neque sit amet, lobortis auctor libero. Vivamus sed laoreet enim. Donec iaculis eros ac leo venenatis porta. Ut eget velit nec velit varius tincidunt. Etiam vel egestas dolor, ac interdum felis.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut euismod sapien. Donec eu feugiat enim, sed tempus arcu. Pellentesque magna nisi, consectetur eget interdum non, interdum a nisl. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Praesent orci eros, rhoncus et neque sit amet, lobortis auctor libero. Vivamus sed laoreet enim. Donec iaculis eros ac leo venenatis porta. Cras tincidunt nisl id lobortis mollis. Ut pretium, quam ut rhoncus pharetra, dui lectus tincidunt risus, eu rhoncus odio tortor fermentum augue. Nulla rutrum bibendum nisl sagittis mollis. Duis adipiscing libero nisi, nec cursus risus dapibus ac.</p>
              <br />
            </div>
            <div class="col-md-5 col-sm-6 text-center">
              <a href="#"><img src="img/rev-slider/mockup1.png" alt="" class="img-responsive" /></a>
            </div>
          </div>

          <br />
          <hr />
          <br />

          <div class="block-heading-two text-center">
            <h3><span>Company Status</span></h3>
          </div>
          <!-- Client One Starts -->
          <br />

          <!-- Counter #4 starts -->
          <div class="counter-four">
            <div class="counter-content">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <!-- counter item -->
                  <div class="counter-item">
                    <!-- icon -->
                    <i class="fa fa-trophy color"></i>
                    <!-- Heading -->
                    <h4><span class="number-count" data-from="10" data-to="95" data-speed="3000" data-refresh-interval="50"></span><small>Award</small></h4>
                    <!-- Paragraph -->
                    <p>Printing and typesetting some industry.</p>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <!-- counter item -->
                  <div class="counter-item">
                    <!-- icon -->
                    <i class="fa fa-coffee color"></i>
                    <!-- Heading -->
                    <h4><span class="number-count" data-from="10" data-to="75" data-speed="3000" data-refresh-interval="50"></span><small>Coffee</small></h4>
                    <!-- Paragraph -->
                    <p>Printing and typesetting some industry.</p>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <!-- counter item -->
                  <div class="counter-item">
                    <!-- icon -->
                    <i class="fa fa-calendar color"></i>
                    <!-- Heading -->
                    <h4><span class="number-count" data-from="10" data-to="69" data-speed="3000" data-refresh-interval="50"></span><small>Year's</small></h4>
                    <!-- Paragraph -->
                    <p>Printing and typesetting some industry.</p>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <!-- counter item -->
                  <div class="counter-item">
                    <!-- icon -->
                    <i class="fa fa-share-alt color"></i>
                    <!-- Heading -->
                    <h4><span class="number-count" data-from="10" data-to="85" data-speed="3000" data-refresh-interval="50"></span><small>Likes</small></h4>
                    <!-- Paragraph -->
                    <p>Printing and typesetting some industry.</p>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <!-- counter item -->
                  <div class="counter-item">
                    <!-- icon -->
                    <i class="fa fa-cloud color"></i>
                    <!-- Heading -->
                    <h4><span class="number-count" data-from="10" data-to="43" data-speed="3000" data-refresh-interval="50"></span><small>Money</small></h4>
                    <!-- Paragraph -->
                    <p>Printing and typesetting some industry.</p>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <!-- counter item -->
                  <div class="counter-item">
                    <!-- icon -->
                    <i class="fa fa-gift color"></i>
                    <!-- Heading -->
                    <h4><span class="number-count" data-from="10" data-to="89" data-speed="3000" data-refresh-interval="50"></span><small>Download</small></h4>
                    <!-- Paragraph -->
                    <p>Printing and typesetting some industry.</p>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <!-- counter item -->
                  <div class="counter-item">
                    <!-- icon -->
                    <i class="fa fa-desktop color"></i>
                    <!-- Heading -->
                    <h4><span class="number-count" data-from="10" data-to="49" data-speed="3000" data-refresh-interval="50"></span><small>Watch</small></h4>
                    <!-- Paragraph -->
                    <p>Printing and typesetting some industry.</p>
                    <div class="clearfix"></div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                  <!-- counter item -->
                  <div class="counter-item">
                    <!-- icon -->
                    <i class="fa fa-twitter color"></i>
                    <!-- Heading -->
                    <h4><span class="number-count" data-from="10" data-to="75" data-speed="3000" data-refresh-interval="50"></span><small>Twitter</small></h4>
                    <!-- Paragraph -->
                    <p>Printing and typesetting some industry.</p>
                    <div class="clearfix"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Counter #4 ends -->

          <br />

          <div class="block-heading-two text-center">
            <h3><span>Our Clients</span></h3>
          </div>
          <!-- Client One Starts -->
          <br />

          <div class="client-one">
            <div class="owl-carousel" data-items="5" data-auto-play="true" data-pagination="false" data-single-item="false">
              <!-- Item -->
              <div class="c1-item">
                <a href="#"><img src="img/clients/c1-1.png" alt=""  class="img-responsive" /></a>
                <div class="img-hover"></div>
                <h5><a href="#">Variations</a></h5>
              </div>
              <div class="c1-item">
                <a href="#"><img src="img/clients/c1-2.png" alt="" class="img-responsive" /></a>
                <div class="img-hover"></div>
                <h5><a href="#">Repetition</a></h5>
              </div>
              <div class="c1-item">
                <a href="#"><img src="img/clients/c1-3.png" alt="" class="img-responsive" /></a>
                <div class="img-hover"></div>
                <h5><a href="#">Pleasure</a></h5>
              </div>
              <div class="c1-item">
                <a href="#"><img src="img/clients/c1-4.png" alt="" class="img-responsive" /></a>
                <div class="img-hover"></div>
                <h5><a href="#">Molestiae</a></h5>
              </div>
              <div class="c1-item">
                <a href="#"><img src="img/clients/c1-5.png" alt=""  class="img-responsive" /></a>
                <div class="img-hover"></div>
                <h5><a href="#">Extremely</a></h5>
              </div>
              <div class="c1-item">
                <a href="#"><img src="img/clients/c1-6.png" alt="" class="img-responsive" /></a>
                <div class="img-hover"></div>
                <h5><a href="#">Annoying</a></h5>
              </div>
              <div class="c1-item">
                <a href="#"><img src="img/clients/c1-2.png" alt="" class="img-responsive" /></a>
                <div class="img-hover"></div>
                <h5><a href="#">Doloribus</a></h5>
              </div>
              <div class="c1-item">
                <a href="#"><img src="img/clients/c1-3.png" alt="" class="img-responsive" /></a>
                <div class="img-hover"></div>
                <h5><a href="#">Repellat</a></h5>
              </div>
            </div>
          </div>

          <!-- Client One Ends -->


        </div>
      </div>

      <!-- Main content ends -->

      <!-- Foot Starts -->

      <div class="foot">
        <!-- Container -->
        <div class="container">
          <div class="row">
            <div class="col-md-3 col-sm-6">
              <!-- Foot Item -->
              <div class="foot-item">
                <!-- Heading -->
                <h5 class="bold"><i class="fa fa-user"></i>&nbsp;&nbsp;About</h5>
                <p>Itaque earum rerum hic tenetur a atque atatum dele niti atque tenetur a atque atatum tenetur volup tatum.</p>
                <div class="brand-bg">
                  <!-- Social Media Icons -->
                  <a href="#" class="facebook"><i class="fa fa-facebook circle-3"></i></a>
                  <a href="#" class="twitter"><i class="fa fa-twitter circle-3"></i></a>
                  <a href="#" class="google-plus"><i class="fa fa-google-plus circle-3"></i></a>
                  <a href="#" class="linkedin"><i class="fa fa-linkedin circle-3"></i></a>
                  <a href="#" class="pinterest"><i class="fa fa-pinterest circle-3"></i></a>
                </div>
                <div class="subscribe-box">
                  <h5 class="bold">Subscribe :</h5>
                  <!-- Form -->
                  <form role="form">
                    <!-- Input Group -->
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Enter Email Id">
                      <span class="input-group-btn">
                        <button class="btn btn-color" type="button">Subscribe</button>
                      </span>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- Foot Item -->
              <div class="foot-item">
                <!-- Heading -->
                <h5 class="bold"><i class="fa fa-comments"></i>&nbsp;&nbsp;Recent Posts</h5>
                <!-- Foot Item Content -->
                <div class="foot-item-content">
                  <ul class="list-unstyled">
                    <!-- Link -->
                    <li><a href="#">Denocing Sapientes Contain</a></li>
                    <li><a href="#">Dignissim Electronic Typeset</a></li>
                    <li><a href="#">Laborum Desktop Publishing</a></li>
                    <li><a href="#">Quibus PageMaker Including</a></li>
                    <li><a href="#">Denocing Sapientes Contain</a></li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- Foot Item -->
              <div class="foot-item">
                <!-- Heading -->
                <h5 class="bold"><i class="fa fa-picture-o"></i>&nbsp;&nbsp;Recent Images</h5>
                <!-- Foot Item Content -->
                <div class="foot-item-content">
                  <!-- Foot Recent Image -->
                  <div class="foot-recent-img">
                    <a href="img/gallery/small/1.jpg" class="lightbox"><img src="img/gallery/small/1.jpg" alt="" class="img-responsive img-thumbnail" /></a>
                    <a href="img/gallery/small/2.jpg" class="lightbox"><img src="img/gallery/small/2.jpg" alt="" class="img-responsive img-thumbnail" /></a>
                    <a href="img/gallery/small/3.jpg" class="lightbox"><img src="img/gallery/small/3.jpg" alt="" class="img-responsive img-thumbnail" /></a>
                  </div>
                  <!-- Foot Recent Image -->
                  <div class="foot-recent-img">
                    <a href="img/gallery/small/1.jpg" class="lightbox"><img src="img/gallery/small/1.jpg" alt="" class="img-responsive img-thumbnail" /></a>
                    <a href="img/gallery/small/2.jpg" class="lightbox"><img src="img/gallery/small/2.jpg" alt="" class="img-responsive img-thumbnail" /></a>
                    <a href="img/gallery/small/3.jpg" class="lightbox"><img src="img/gallery/small/3.jpg" alt="" class="img-responsive img-thumbnail" /></a>
                  </div>
                  <div class="foot-recent-img">
                    <a href="img/gallery/small/1.jpg" class="lightbox"><img src="img/gallery/small/1.jpg" alt="" class="img-responsive img-thumbnail" /></a>
                    <a href="img/gallery/small/2.jpg" class="lightbox"><img src="img/gallery/small/2.jpg" alt="" class="img-responsive img-thumbnail" /></a>
                    <a href="img/gallery/small/3.jpg" class="lightbox"><img src="img/gallery/small/3.jpg" alt="" class="img-responsive img-thumbnail" /></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6">
              <!-- Foot Item -->
              <div class="foot-item">
                <!-- Heading -->
                <h5 class="bold"><i class="fa fa-building-o"></i>&nbsp;&nbsp;Contact Us</h5>
                <!-- Foot Item Content -->
                <div class="foot-item-content address">
                  <!-- Heading -->
                  <h6 class="bold"><i class="fa fa-home"></i>&nbsp;&nbsp;Hanks Ltd</h6>
                  <!-- Paragraph -->
                  <p class="add">
                     Bharathi Nagar, South Cherry Road,<br />
                     North Bangalore - 535089.</p>
                  <p class="tel"> <i class="fa fa-phone"></i> Tel : + (833) - 839 8393<br />
                  <i class="fa fa-envelope"></i>  Mail : <a href="#">infodesk@uk.com</a><br />
                  <i class="fa fa-calendar"></i> Business Hours : 9:30 - 5:30</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Foot Ends -->

      <!-- Footer Starts -->

      <footer>
        <!-- Container -->
        <div class="container">
          <!-- Footer Content -->
            <!-- Paragraph -->
            <p class="pull-left">Copyright &copy; 2014 - <a href="#">Your Site</a></p>
            <ul class="list-inline pull-right">
              <!-- List -->
              <li><a href="index.html">Home</a><li>
              <li><a href="service.html">Service</a></li>
              <li><a href="feature.html">Features</a></li>
              <li><a href="about-us.html">About</a></li>
              <li><a href="contact-us.html">Contact</a></li>
            </ul>
            <!-- Clearfix -->
            <div class="clearfix"></div>
        </div>
      </footer>

      <!-- Footer Ends -->

    </div>

    <!-- Outer Ends -->

    <!-- Scroll to top -->
    <span class="totop"><a href="#"><i class="fa fa-angle-up bg-color"></i></a></span>

    <!-- Javascript files -->
    <!-- jQuery -->
    <script src="js/jquery.js"></script>
    <!-- Bootstrap JS -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Placeholders JS -->
    <script src="js/placeholders.js"></script>
    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <!-- Owl carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- Respond JS for IE8 -->
    <script src="js/respond.min.js"></script>
    <!-- HTML5 Support for IE -->
    <script src="js/html5shiv.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>

    <!-- Javascript for this page -->
    <!-- Revolution slider -->
    <script src="js/jquery.themepunch.tools.min.js"></script>
    <script src="js/jquery.themepunch.revolution.min.js"></script>
    <!-- Waypoints -->
    <script src="js/waypoints.min.js"></script>
    <!-- jQuery CountTo -->
    <script src="js/jquery.countTo.js"></script>

    <script type="text/javascript">
      <!-- Counting code -->
      $(document).ready(function(){
        // Way Points With Count To()
        $('.number-count').waypoint(function(down){
          if(!$(this).hasClass('stop-counter'))
          {
            $(this).countTo();
            $(this).addClass('stop-counter');
          }
        }, {
          offset: '90%'
        });
      });
    </script>

    <script type="text/javascript">
      jQuery(document).ready(function() {
        jQuery('.r-slider .banner').revolution({
          delay:7000,
          startheight:400,
          startwidth:1000,
          startWithSlide:0,

          fullScreenAlignForce:"off",
          autoHeight:"off",

          shuffle:"off",

          onHoverStop:"on",

          thumbWidth:100,
          thumbHeight:50,
          thumbAmount:3,

          hideThumbsOnMobile:"on",
          hideNavDelayOnMobile:1500,
          hideBulletsOnMobile:"off",
          hideArrowsOnMobile:"off",
          hideThumbsUnderResoluition:0,

          hideThumbs:10,
          hideTimerBar:"on",

          keyboardNavigation:"on",

          navigationType:"bullet",
          navigationArrows:"solo",
          navigationStyle:"round",

          navigationHAlign:"center",
          navigationVAlign:"bottom",

          soloArrowLeftHalign:"left",
          soloArrowLeftValign:"center",
          soloArrowLeftHOffset:20,
          soloArrowLeftVOffset:0,

          soloArrowRightHalign:"right",
          soloArrowRightValign:"center",
          soloArrowRightHOffset:20,
          soloArrowRightVOffset:0,


          touchenabled:"on",
          swipe_velocity:"0.7",
          swipe_max_touches:"1",
          swipe_min_touches:"1",
          drag_block_vertical:"false",

          stopAtSlide:-1,
          stopAfterLoops:-1,
          hideCaptionAtLimit:0,
          hideAllCaptionAtLilmit:0,
          hideSliderAtLimit:0,

          dottedOverlay:"none",

          spinned:"spinner4",

          fullWidth:"off",
          forceFullWidth:"off",
          fullScreen:"off",
          fullScreenOffsetContainer:"#topheader-to-offset",

        });
      });
    </script>

    <!-- Custom JS. Type your JS code in custom.js file -->
    <script src="js/custom.js"></script>

    <!--
    Style switcher. This is just for demo purpose only.
    If you don't want remove the below line.
    Some of the features of style switcher won't work on offline. THey only work when you upload it to server
    -->
    <!-- <script src="style-switcher/style-switcher.js"></script> -->

  </body>
</html>