.reservation-form {
  width: 40%;
  float: left;
  padding: 15px;
  [type],
  select,
  option {
    width: 100%;
    height: 34px;
    box-shadow: inset 0 1px 1px rgba(black,0.075);
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-left: 7px;
  }
  .reservation-track:last-child {
      float: right;
  }
}
.business-hour {
  width: 60%;
  float: right;
  padding: 15px;
}
.tab-opening-hour {
  th {
    padding: 5px 11px;
    font-weight: normal;
  }
}
.addresses {
  padding: 15px;
  width: 50%;
  float: left;
}
.list-horizontal {
  dt { float: left; }
  dd:before {
    content: ": ";
  }
}

.list-horizontal + * {
  clear: both;
}