html,
body,
.main-container {
  height: 100%;
}

.shadow-effect {
  display: table;
  height: 100%;
  width: 100%;
}

.vcard {
  display: table-cell;
  vertical-align: middle;
  margin: auto;
}

.listing {
  display: block;
  margin: auto;
  width: 620px;
  height: 322px;
  border: 1px solid #ebebeb;
  border-radius: 4px;
  background: white;
  padding: 20px;
}

.listing-categories,
.listing-communications {
  display: inline-block;
  width: 50%;
  float: left;
}