<!DOCTYPE html>
<html>
<head>
  <title>{{ listing.name }}</title>
  {{ 'all.js' | asset_path | script_tag }}
  {{ 'all.css' | asset_path | stylesheet_tag }}
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>
  {% include 'shared/nav' %}
  <div class="main-container">
    {{ content_for_layout }}
  </div>
</body>
</html>