<h1 class='page-title'>{{ listing.instant_website.brochures_page.name }}</h1>
<div id="prochures">
  {% for brochure in listing.brochures %}
    {% if brochure.image != blank %}
      {{ brochure | attachment_url: 'large' | image_tag }}
    {% endif %}
  {% endfor %}
</div>
