<h1 class="page-title">{{ 'sample.links.brochures' | translate }}</h1>
<div id="prochures">
  {% for brochure in listing.brochures %}
    {% if brochure.image != blank %}
      {{ brochure | attachment_url: 'large' | image_tag }}
    {% endif %}
  {% endfor %}
</div>