<!DOCTYPE html>
<html>
<head>
  <title>{{ listing.name }}</title>
  {{ 'all.js' | asset_path | script_tag }}
  {{ 'all.css' | asset_path | stylesheet_tag }}
</head>
<body>
  <div class="container">
    {% include "shared/header" %}
    {{ content_for_layout }}
  </div>
  {% include "shared/footer" %}
</body>
</html>