@import "bootstrap/v3.2.0";
@import "zebra_datepicker/v1.8.9/default";
@import "jquery.flexslider/v2.2.2";
@import "jquery.colorbox/v1.5.14/example3";

@import "sample/shared/base";
@import "sample/shared/mixins";
@import "sample/shared/collage_plus";
@import "sample/home/index";
@import "sample/services/index";
@import "sample/map/index";
@import "sample/brochures/index";
@import "sample/galleries/index";
@import "sample/announcements/index";
@import "sample/catalogs/index";
@import "sample/reservation/index";
@import "sample/people/index";
