<div class="main-block">

  {% assign page_title = 'brave.links.photos' | translate %}
  {% include 'shared/page_title' with page_title %}

  <div class="container">
    <div class="portfolio pf-one">
      <div class="portfolio-content">
        <div id="filters">
          <a href="#" data-filter="*" class="btn btn-color">All</a>
          {% for gallery in listing.galleries %}
            <a href="#" data-filter=".{{gallery.name | downcase | replace:' ','-' }}" class="btn btn-color">{{ gallery.name }}</a>
          {% endfor %}
        </div>
        <div id="portfolio">
          {% for image in listing.images %}
          {% include 'image' %}
          {% endfor %}
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% content_for 'filterjs' %}
  {% include 'shared/filterjs' %}
{% endcontent_for %}
