<h1 class="page-title">about us</h1>
{% for catalog_item in listing.catalog_items %}
  <article class="article-item">
    <h2 class="title-item">{{ catalog_item.title }}</h2>
    <p class="item-description">{{ catalog_item.html_text }}</p>
    {% if catalog_item.image != blank %}
      {{ catalog_item | attachment_url: 'large' | image_tag }}
    {% endif%}
  </article>
{% endfor %}