.image-wrapper {
  opacity:0;
  position: relative;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.Collage img{
    opacity: 1;
    box-shadow:0px 3px 4px #dcdcdc;
    /*border-radius: 6px;*/
    /*
    * Change this to try different borders
    */
    /*border:6px solid #fff;*/
}

.Collage{
    padding: 10px;
}