<div class="cover-photo">
  {{ listing.instant_website.cover_photos.first.image.attachment_meta.large.url | asset_path | image_tag: listing.name }}

  <div class="summary-box">
    <div class="summary summary-services"></div>
    <div class="summary summary-products"></div>
    <div class="summary summary-aboutus"></div>
  </div>
</div>