<div id="bs-carousel-1" class="carousel slide" data-ride="carousel" data-interval="3000" data-pause="hover" data-wrap="true">
  <ol class="carousel-indicators">
    {% for i in product.photos %}
      <li data-target="#bs-carousel-1" data-slide-to="{{ forloop.index | minus: 1 }}" class='{% if forloop.index == 1 %}active{% endif %}'></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for photo in product.photos %}
      <div class="item {% if forloop.index == 1 %}active{% endif %}">
        {{ photo | attachment_url: 'medium' | image_tag }}
      </div>
    {% endfor %}

  </div>
  <a class="left carousel-control" href="#bs-carousel-1" role="button" data-slide="prev">
    <span class="fa fa-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#bs-carousel-1" role="button" data-slide="next">
    <span class="fa fa-chevron-right"></span>
  </a>
</div>