<h4>{{product.name}}</h4>
<p>{{product.description}}</p>

<div class="table-responsive">
  <table class="table table-bordered sitem-table">
    {% for f in product.features %}
      <tr>
        <th>{{ f.name }}</th>
        <td>{{ f.value }}</td>
      </tr>
    {% endfor %}

  </table>
</div>