<div class="main-block">

  <!-- Page heading two starts -->

  <div class="page-heading-two">
    <div class="container">
      <h2>Products</h2>
      <div class="breads">
        Home / <a href="#">Product</a>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>

  <!-- Page heading two ends -->

  <!-- Shopping Items -->
  {% include 'products/items' %}

</div>