<div class="main-block">

  {% assign page_title = product.name %}
  {% include 'shared/page_title' with page_title %}

  <div class="container">

    <div class="ecommerce">
      <div class="row">
        <div class="col-md-12 col-sm-8">
          <div class="shopping-content">
            <div class="shopping-single">
              <div class="row">
                <div class="col-md-4 col-sm-6">

                  {% include 'products/product_slide' %}

                </div>
                <div class="col-md-8 col-sm-6">
                  {% include 'products/product_info' %}

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>