<h1 class="page-title">announcement</h1>
{% for announcement in listing.announcements %}
  <article class="announcement">
    {{ announcement.image.attachment_meta.large.url | image_tag }}
    <div class="announcement-description">
      <p>{{ announcement.text }}</p>
    </div>
    <div class="annnouncement-timestamp">
      <p>
        <span class="icon-time-default"></span>
        <time class="timeago" datetime="{{ announcement.updated_at | date: '%Y-%m-%d' }}"></time>
      </p>
    </div>
  </article>
{% endfor %}