{% for announcement in listing.announcements %}
  <article class="announcement">
    {{ announcement.image.attachment_meta.medium.url | asset_path | image_tag }}
    <div class="announcement-description">
      <p>{{ announcement.text }}</p>
    </div>
    <div class="annnouncement-timestamp">
      <p>
        <span class="icon-time-default"></span>
        <time class="timeago" datetime="2014-07-28T03:21:06+00:00" title="" data-original-title="July 28, 2014 10:21">{{ announcement.created_at | date: "%a, %b %d, %y" }}</time>
      </p>
    </div>
  </article>
{% endfor %}